{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
<link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
{% block content %}
    <div class="text-center mt-5">
        <h1>Log In </h1>
    </div>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary w-100" value="Singin">Sign Up</button>
    </form>
{% endblock content %}
{% endblock content %}

    