{% extends 'base.html' %} 
{% load static %}
{% block extrahead %} 
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
{% endblock extrahead %} 

{% block content %}
<!------------------------------------------------LOGO HOME-------------------------------------------------->
  <div class="logo-container"> <!-- usé esta pagina para el logo https://app.logo.com/flow/type/-->
    <img src="{% static 'logos/gameinsider-high-resolution-logo-black-on-transparent-background.png' %}" alt="Logo" class="logo">
  </div>

<!---------------------------------------------------FORM PARA SEARCH------------------------------------------------>
<div class="search-container">
  <form method="get" action="{% url 'search' %}">
    <input type="text" placeholder="Search..." id="search" value="{{ request.GET.search }}" name="search">
    <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></button>
  </form>
</div>
<!-----------------------------------------------CARRUSEL DE IMAGENES / NOTICIAS------------------------------------------>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for group in game_groups %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <div class="cards-wrapper">
          {% for game in group %}
            <div class="card">
              <img src="{{ MEDIA_URL }}{{ game.thumbnail.url }}" class="card-img-top" alt="{{ game.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
                <p class="card-text">{{game.description|truncatechars:100 }}</p>
                <a href="{% url 'search' %}?search={{game.name}}" class="btn btn-primary">Look inside!</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
     
{% endblock content %}
