{% extends 'base.html' %} 
{% load static %}
{% load author_tags %}
{% block extrahead %} 
{% load defaultfilters %}
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
<link href="{% static 'styles/search.css' %}" rel="stylesheet">
<link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock extrahead %} 
{% block ul %}
  <ul class="navbar-nav me-lg-1 mb-2 mb-lg-0">
{% endblock ul %}
{% block extra_navBar %}
<div class="search-container-nav">
  <form method="get" action="{% url 'search' %}">
    <input type="text" placeholder="Search..." id="search" value="{{ request.GET.search }}" name="search">
    <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></button>
  </form>
</div>
{% endblock extra_navBar %}
{% block content %}  
      <!------------------------------------------------PROFILE PAGE-------------------------------------------------------------------->
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4 no-animated" style="max-height: 500px">
                  <div class="card-body text-center">
                    {% if author.profile_pic %}
                      <img src="{{ MEDIA_URL }}{{ author.profile_pic.url }}" alt="Profile Picture" class="profile-picture ml-auto" id="profile-pic" style="width: 60%; height: 60%">
                    {% else %}
                      <img src="{% static 'logos/user.png' %}" alt="Profile Picture" class="profile-picture ml-auto" id="profile-pic">
                    {% endif %}
                    <h5 class="my-3">{{author.fullname}}</h5>
                    <p class="text-muted mb-1">{{author.user.username}}</p>
                    <p class="text-muted mb-1">Member since {{author.user.date_joined}}</p>
                  </div>
                  <div class="card-footer text-center">
                    <p class="text-muted">{{ author.bio }}</p>
                    <a href="{% url 'update_bio' %}" class="btn btn-primary">Update Profile</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-between align-items-center p-3 mb-3">
                    <h5>Publications</h5>
                    <div class="sort-buttons">
                      <button id="newer-button" class="btn btn-secondary">Newer</button>
                      <button id="older-button" class="btn btn-secondary">Older</button>
                      <button id="popular-button" class="btn btn-secondary">Most Liked</button>
                      <button id="commented-button" class="btn btn-secondary">Most Commented</button>
                    </div>
                  </div>
                </div>
                <div id="posts-container" class="row">
                  {% for post in posts %}
                  <div class="col-md-6" data-likes="{{ post.num_likes }}" data-comments="{{ post.num_comments }}" data-creation-time="{{ post.created_at.timestamp }}" style="margin-bottom: 10px;">
                    <a href="{% url 'post_detail' post_id=post.id %}">
                      <div class="card mb-4 mb-md-0 mt-3">
                        <div class="card-body">
                          <p class="mb-4"><span class="text-primary font-italic me-1">{{ post.game }}</span>{{ post.title }}</p>
                          <img src="{{ post.thumbnail.url }}" alt="Publication Image" class="img-fluid">
                          <div class="metadata">
                            <i class="fa-sharp fa-solid fa-heart thumbs-up"></i>
                            <span>{{ post.num_likes }}</span>
                            <i class="fa-solid fa-comment comments"></i>
                            <span>{{ post.num_comments }}</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content%}
{% block scripts %}
<script>
/// Get the container element and all the post elements inside it
const container = document.getElementById("posts-container");
const posts = container.querySelectorAll(".col-md-6");

// Convert the post elements to an array and sort them by their creation time
const sortedPostsByTime = Array.from(posts).sort((a, b) => {
    const timeA = parseInt(a.getAttribute("data-creation-time"));
    const timeB = parseInt(b.getAttribute("data-creation-time"));
    return timeB - timeA;
});

// Convert the post elements to an array and sort them by their creation time in reverse
const sortedPostsByOlder = Array.from(posts).sort((a, b) => {
  const timeA = parseInt(a.getAttribute("data-creation-time"));
  const timeB = parseInt(b.getAttribute("data-creation-time"));
  return timeA - timeB;
});

// Function to sort posts by number of likes
const sortByLikes = () => {
  $('.row').each(function() {
    var posts = $(this).children();
    posts.sort(function(a, b) {
      var aLikes = parseInt($(a).attr('data-likes'));
      var bLikes = parseInt($(b).attr('data-likes'));
      return bLikes - aLikes;
    });
    $(this).empty().append(posts);
  });
}

// Function to sort posts by number of comments
const sortByComments = () => {
  $('.row').each(function() {
    var posts = $(this).children();
    posts.sort(function(a, b) {
      var aComments = parseInt($(a).attr('data-comments'));
      var bComments = parseInt($(b).attr('data-comments'));
      return bComments - aComments;
    });
    $(this).empty().append(posts);
  });
}

// Attach click event listener to the "Newer" button
document.getElementById("newer-button").addEventListener("click", () => {
  // Append the sorted post elements to the container
  container.innerHTML = '';
  sortedPostsByTime.forEach(post => container.appendChild(post));
});

document.getElementById("older-button").addEventListener("click", () => {
  // Append the sorted post elements to the container
  container.innerHTML = '';
  sortedPostsByOlder.forEach(post => container.appendChild(post));
});

// Attach click event listener to the "Most Popular" button
document.getElementById("popular-button").addEventListener("click", () => {
  // Execute the sortByLikes function to sort the posts by likes
  sortByLikes();
});

// Attach click event listener to the "Most Commented" button
document.getElementById("commented-button").addEventListener("click", () => {
  // Execute the sortByLikes function to sort the posts by likes
  sortByComments();
});

</script>
{% endblock scripts %}
