{% extends 'base.html' %} 
{% load static %}
{% load author_tags %}
{% block extrahead %} 
{% load defaultfilters %}
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
<link href="{% static 'styles/search.css' %}" rel="stylesheet">
<link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock extrahead %} 
{% block ul %}
  <ul class="navbar-nav me-lg-1 mb-2 mb-lg-0">
{% endblock ul %}
{% block extra_navBar %}
<div class="search-container-nav">
  <form method="get" action="{% url 'search' %}">
    <input type="text" placeholder="Search..." id="search" value="{{ request.GET.search }}" name="search">
    <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></button>
  </form>
</div>
{% endblock extra_navBar %}
{% block content %}  
      <!------------------------------------------------PROFILE PAGE-------------------------------------------------------------------->
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="row">
              <div class="col-lg-4">
                <div class="card mb-4 no-animated">
                  <div class="card-body text-center">
                    {% if author.profile_pic %}
                      <img src="{{ MEDIA_URL }}{{ author.profile_pic.url }}" alt="Profile Picture" class="profile-picture ml-auto" id="profile-pic" style="width: 60%; height: 60%">
                    {% else %}
                      <img src="{% static 'logos/user.png' %}" alt="Profile Picture" class="profile-picture ml-auto" id="profile-pic">
                    {% endif %}
                    <h5 class="my-3">{{author.fullname}}</h5>
                    <p class="text-muted mb-1">{{author.user.username}}</p>
                    <p class="text-muted mb-1">Member since {{author.user.date_joined}}</p>
                  </div>
                  <div class="card-footer text-center">
                    <p class="text-muted">{{ author.bio }}</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-12 d-flex justify-content-between align-items-center p-3 mb-3">
                    <h5>Publications</h5>
                    <div class="sort-buttons">
                      <button class="btn btn-secondary">Newer</button>
                      <button class="btn btn-secondary">Most Popular</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  {% for post in author.post_set.all|reverse %}
                    <div class="col-md-6">
                      <div class="card mb-4 mb-md-0 mt-3">
                        <div class="card-body">
                          <p class="mb-4"><span class="text-primary font-italic me-1">{{ post.game.name }}</span>{{ post.title }}
                          </p>
                          {% if post.thumbnail %}
                            <img src="{{ post.thumbnail.url }}" alt="Publication Image" class="img-fluid">
                          {% endif %}
                          <div class="metadata">
                            <i class="fa-sharp fa-solid fa-heart thumbs-up"></i>
                            <span>{{ post.num_likes }}</span>
                            <i class="fa-solid fa-comment comments"></i>
                            <span>{{ post.num_comments }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                      </div><div class="row">
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content%}