{% extends 'base.html' %} 
{% load static %}
{% block extrahead %} 
<link href="{% static 'styles/home.css' %}" rel="stylesheet">
<link href="{% static 'styles/search.css' %}" rel="stylesheet">
{% endblock extrahead %} 
{% block extra_navBar %}
<div class="search-container-nav">
  <form method="get" action="{% url 'search' %}">
    <input type="text" placeholder="Search..." id="search" value="{{ request.GET.search }}" name="search">
    <button type="submit" id="search-button"><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></button>
  </form>
</div>
{% endblock extra_navBar %}  
{% block content %}
  <h2>Search results for "{{query}}:"</h2>
      <!-------------------------------------------PUBLICATIONS------------------------------------------------------------>
      {% if posts %}
        {% for post in posts  %}
        <div class="publication">
          <h3 class="title">{{ post.title}}</h3>
          <p class="text"> {{ post.content}}
          </p>
          <img src=" {{post.thumbnail}}" alt="Publication Image" class="img-fluid">
          <div class="metadata">
              <i class="fa-sharp fa-solid fa-heart thumbs-up"></i>
              <span>123</span>
              <i class="fa-solid fa-comment comments"></i>
              <span>456</span>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p>No search results found</p>
      {% endif %}
{% endblock content%}
{% block scripts %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock scripts %}   

